html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
     background-color:#000000;
     color:#ffffff;
}




.navbar{
    display:block;
    justify-content:space-between;
    width:10%;
    background-color:#FFB6C1;
    height:100%;
}

a{
    text-decoration: none;
    color:#ffffff;
}

.head{
    width:50%;
    height:10%;
    padding-left:10%;
}

.menu{
    width:20%;
    height:20%;
    left: 5%;
    padding-top: 2%;
}

.homeimg{
    width:100%;
 
}

.main{
background: url("jhenehome.jpg");
}